<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Web Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        nav a {
            color: white
        }
        
        .btn {
            color: #fff;
            background-color: rgb(236, 121, 79);
            border-color: coral
        }
    </style>

    <body>

        {% include './includes/_navbar.html' %}

        <div class="container" style="margin-top:40px">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="jumbotron" style="background-color: coral;">
                <p style="text-align: center;color: white;">&copy 2020 papapin supmee</p>
            </div>
        </footer>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>